APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:6tmlOTPINqlfMNSv24y2Exw800QMZFnxMHXYVSrm8AA=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


DEPOSIT_FEE=
PRIVATE_WITHDRAW_COMMISSION_FEE=
BUSINESS_WITHDRAW_COMMISSION_FEE=
FEE_OF_CHARGE=
MAX_FEE_CHARGE_COUNT=
EXCHANGE_RATES_URL=
BASE_CURRENCY=
